
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}
::-webkit-scrollbar {width: 7px;}

::-webkit-scrollbar-track {background: rgb(32, 32, 32);}

::-webkit-scrollbar-thumb {background: #8888884b;}

::-webkit-scrollbar-thumb:hover {background: rgb(106, 106, 106);}

::-webkit-scrollbar-button{display:none;}

body{
    overflow-x: hidden;
    background-color: black;
    color: white;
    scroll-behavior: smooth;

}
@keyframes fadeIn {
    from {
        scale:50%;
        opacity: 0;
    }
    to {
        scale: 100%;
        opacity: 1;
    }
}
.animation-card1{
    animation: fadeIn 1s ease-in-out both;
}

@keyframes show{
    from{
        opacity: 0;
        scale: 0%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}
.animation{
    view-timeline-name: --projects;
    view-timeline-axis: block;
    animation-timeline: --projects;
    animation-name: show;
    animation-range: entry 0% cover 11%;
    animation-fill-mode: both;
}
.animation2{
    view-timeline-name: --about-me;
    view-timeline-axis: block;
    animation-timeline: --about-me;
    animation-name: show;
    animation-range: entry 0% cover 5%;
    animation-fill-mode: both;

}

@keyframes show-right{
    from{
        opacity: 0;
        transform: translateX(-200%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.animation-right{
    view-timeline-name: --skills;
    view-timeline-axis: block;
    animation-timeline: --skills;
    animation-name: show-right;
    animation-range: entry 0% cover 12%;
    animation-fill-mode: both;
}
body {
    cursor: url('../images/cursor.svg'), auto; 
}
.new-portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 485px;
    height: 200px;
    padding: 20px;
    position: fixed;
    z-index: 999999999;
    backdrop-filter: blur(3px);
    margin: 5vw;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color:white;
    left: calc(50% - 242.5px - 5vw);
}
@media screen and (max-width: 500px){
    .new-portfolio-container{
        width: 90vw;
        left: 0;
    }
    .new-portfolio-container h1{
        font-size: 1.3rem !important;
        font-weight: 400 !important;
    }
    .new-portfolio-container a{
        font-size: 1rem !important;
        font-weight: 300 !important;
    }
}
.new-portfolio-container h1{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}
.new-portfolio-container a{
    padding: 8px 15px;
    background-color: rgb(197, 197, 197);
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    color:black;
    border-radius: 8px;
}
a:hover, button:hover {
    cursor: url('../images/cursor-big.svg'), auto !important; 
}
.lang-btn {
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .lang {
    position: absolute;
    display: inline-block;
    top: 0;
    right:0;
    margin: 50px;
  }
  
  .lang-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .lang-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .lang-content a:hover {background-color: #ddd;}
  
  .lang:hover .lang-content {display: block;}

.nav-svg{
    fill: white;
}
.cards{
    width: 100svw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index:9999;
    top:0;
    color: white;
    background-color: black;

}

.cards-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 1;
    filter: brightness(0.5);
    view-timeline-name: --none;
}

.card-content{
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    align-items: center;
    justify-content: center;
    display: flex;

}

.arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    fill: white;
    fill-opacity: 0.5;
}
.arrow:hover{
    transform: translateX(-50%) scale(1.5);
    fill-opacity: 1;
    cursor: url('../images/cursor-big.svg'), auto;
    
}
.arrow-back {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    transition: all 0.3s ease;
    fill: white;
    fill-opacity: 0.5;
    opacity: 0.5;
    padding-left: 8%;
    z-index: 9999;
}
.arrow-back:hover {
    transform: translateX(22%) scale(1.5);
    fill-opacity: 1;
    opacity: 1;
    cursor: url('../images/cursor-big.svg'), auto;
}
.portfolio{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 1.4rem;
    font-weight: 200;
}
.title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}
.my-name{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}
.subtitle{
    font-size: 1.35rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
}

.header-section-1{
    position:absolute;
    top: 0px;
    left: 0px;
    padding: 50px;
    width: 100%;
    height:auto;
    display: flex;
    justify-content: start;
}
.header-section-1 h1{
    font-weight: 600;
    padding: 0px !important;
    margin:0px !important;
    font-family: 'Roboto Condensed';
}
.header-section-2{
    position:absolute;
    top: 0px;
    right: 0px;
    padding: 50px;
    width: 100%;
    height:auto;
    display: flex;
    justify-content: end;
}
.header-section-2 h1{
    font-weight: 600;
    padding: 0px !important;
    margin:0px !important;
    font-family: 'Roboto Condensed';
    
}
@media screen and (max-width: 370px) {
    .header-section-1 {
        display:flex;
        justify-content: center;
    }
    .header-section-2 {
        display:flex;
        justify-content: center;
    }
}
#projects{
    width: 100%;
    height: 60% ;
    display: flex;
}
.project-type{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-type p {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size:1.2rem;
    transition: transform 0.3s ease; 
}

.project-type p:hover {
    transform: scale(1.3); 
    font-weight: 500;
    cursor: url('../images/cursor-big.svg'), auto !important;
}

.icon-skills{
    width: 20px !important;
    height:auto !important;
}

@keyframes skills {
    from {
        scale:100%;
    }
    to {
        scale: 130%;
    }
}
.skill:hover{
    z-index: 99;
    animation: skills 0.2s ease-in-out both;
    cursor: url('../images/cursor-big.svg'), auto !important;
}
@media screen and (max-width: 450px) {
    .skills-subtitle{
        font-size: 20px;
    }
    .icon-skills{
        width: 10px !important;
        height:auto !important;
    }
    .skills-font{
        font-size: 10px;
    }
}
.stars{
    fill: rgb(108, 107, 107);
}
.certification-list{
    display:flex;
    width: 100%;
    justify-content: center;
}
.certification-list ul{
    min-width: 27%;
}
.certification{
    list-style-type: none;
    padding: 20px 0px;
    font-size: 1.3rem;
    font-weight: 200;
    transition: transform 0.3s ease; 
}
@media screen and (max-width: 450px){
    .certification{
        padding: 10px 10% 10px 0;
    }
    .certification-list{
        justify-content: start;
    }
}
@media screen and (max-width: 300px){
    .certification{
        padding: 5px 5% 5px 0;
    }
}
@media screen and (max-height: 670px){
    .certification{
        padding: 5px 5% 5px 0;
    }
}
@media screen and (max-height: 450px){
    .certification{
        padding: 2px 2% 2px 0;
    }
}
.certification:hover {
    transform: translateX(14%) scale(1.3); 
    font-weight: 500;
    cursor: url('../images/cursor-big.svg'), auto !important;
}
.about-me1{
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(200, 200, 200);
}
.about-me1 span{
    font-weight: 600;
    color: white;
}
.thing1 {
    position: absolute;
    top: 75%;
    left: 73%;
    text-align:center;
    color:rgb(147, 146, 146);
    transform: scale(100%);
    transition: all 0.3s ease;
}
.thing1:hover{
    color: white;
    transform: scale(130%);
}
.thing2 {
    position: absolute;
    top: 60%;
    left: 8%;
    text-align:center;
    color:rgb(147, 146, 146);
    transform: scale(100%);
    transition: all 0.3s ease;
}
.thing2:hover{
    color: white;
    transform: scale(130%);
}

.thing3 {
    position: absolute;
    top: 26%;
    left: 70%;
    text-align:center;
    color:rgb(147, 146, 146);
    transform: scale(100%);
    transition: all 0.3s ease;
}
.thing3:hover{
    color: white;
    transform: scale(130%);
}
.thing4{
    position: absolute;
    top:70%;
    left: 53%;
    text-align:center;
    color:rgb(147, 146, 146);
    transform: scale(100%);
    transition: all 0.3s ease;
}
.thing4:hover{
    color: white;
    transform: scale(130%);
}
.thing5{
    position: absolute;
    top: 40%;
    left: 10%;
    text-align:center;
    color:rgb(147, 146, 146);
    transform: scale(100%);
    transition: all 0.3s ease;
}
.thing5:hover{
    color: white;
    transform: scale(130%);
}
.thing6{
    position: absolute;
    top: 10%;
    left: 40%;
    text-align:center;
    color:rgb(147, 146, 146);
    transform: scale(100%);
    transition: all 0.3s ease;
}
.thing6:hover{
    color: white;
    transform: scale(130%);
}
.thing7{
    position: absolute;
    top: 25%;
    left: 35%;
    text-align:center;
    color:rgb(147, 146, 146);
    transform: scale(100%);
    transition: all 0.3s ease;
}
.thing7:hover{
    color: white;
    transform: scale(130%);
}
.thing8{
    position: absolute;
    top: 80%;
    left: 20%;
    text-align:center;
    color:rgb(147, 146, 146);
    transform: scale(100%);
    transition: all 0.3s ease;
}
.thing8:hover{
    color: white;
    transform: scale(130%);
}
.thing9{
    position: absolute;
    top: 20%;
    left:15%;
    text-align:center;
    color:rgb(147, 146, 146);
    transform: scale(100%);
    transition: all 0.3s ease;
}
.thing9:hover{
    color: white;
    transform: scale(130%);
}
.thing10{
    position: absolute;
    top: 60%;
    left: 70%;
    text-align:center;
    color:rgb(147, 146, 146);
    transform: scale(100%);
    transition: all 0.3s ease;
}
.thing10:hover{
    color: white;
    transform: scale(130%);
}
@media screen and (max-width: 890px){
    .thing3 {
        top: 22%;
        left: 40%;
    }
    .thing7{
        left:70%;
    }
    .thing5{
        top: 35%;
    }
}
@media screen and (max-width: 510px){

    .thing1{
        top: 80%;
        left: 75%;
    }
    .thing2{
        top: 65%;
    }
    .thing4{
        top: 75%;
    }
    
}
@media screen and (max-width: 450px){
    .thing4{
        top:73%;
        left: 53%;
    }
    .thing1{
        top: 80%;
        left: 68%;
    }
    .thing2{
        top: 67%;
    }
    .thing6{
        top: 15%;
        left: 50%;
    }
    .thing3{
        top:25%;
    }
    .thing10{
        top: 65%;
    }
    .thing7{
        top:30%;
        left: 60%;
    }
    .thing5{
        top: 30%;
    }
}
.container-carousel {
    width: 45vw;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 1);
}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    height:0;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.carousel{
    display: flex;
    width: 100%;
    height: auto;
    
}

.content{
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top:0;
    left:0;
    align-items: center;
    text-align: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    transition: 0.6s;
}
.content-title{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 4%;
    padding-bottom: 3%;
    text-align: center;
    border-bottom: 1.5px white solid;
    color: white;
}
.content-software{
    width: 15%;
    height: auto;
    padding: 10px;
}
.content:hover{
    opacity: 1;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container-carousel {
        width: 65vw;
    }
}

@media only screen and (max-width: 767px) {
    .container-carousel {
        width: 90vw;
    }
}

.green-skill{
    background-color: #c3eab1;
    border-radius: 5px;
    padding: 3px 5px !important;
}
.red-skill{
    background-color: #fababa;
    border-radius: 5px;
    padding: 3px 5px !important;
}
.no-skill{
    background-color: rgb(214, 212, 212);
    border-radius: 5px;
    padding: 3px 5px !important;
}
.blue-skill{
    background-color: #b1ceea;
    border-radius: 5px;
    padding: 3px 5px !important;
}
.orange-skill{
    background-color: #eaceb1;
    border-radius: 5px;
    padding: 3px 5px !important;
}
.yellow-skill{
    background-color: #e3eab1;
    border-radius: 5px;
    padding: 3px 5px !important;
}
.purple-skill{
    background-color: #d6b1ea;
    border-radius: 5px;
    padding: 3px 5px !important;
}
.darkblue-skill{
    background-color: #a3b6e3;
    border-radius: 5px;
    padding: 3px 5px !important;
}


.contact-icon{
    fill: white;
}

@keyframes contact-scale {
    from {
        scale:100%;
        transform: translateX(0%);
    }
    to {
        scale: 130%;
        transform: translateX(10%);
    }
}
.contact-link:hover{
    z-index: 99;
    animation: contact-scale 0.2s ease-in-out both;
    cursor: url('../images/cursor-big.svg'), auto !important;
}
.cv{
    font-weight: 500;
}
.more-info{
    fill:white;
    padding:7px;
    margin-top: 10px !important;
    font-size: 1.2rem;
    position:absolute;
    top: 0;
    right: 0;
    text-align: end;
    margin-right: 10px;
    z-index: 100;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    border: solid 1.5px;
    transition: all 0.3s ease-in-out; 
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;

}

.more-info:hover{
    cursor: url('../images/cursor-big.svg'), auto !important;
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.3) translateX(-15%) translateY(7%);
    opacity: 1;
}
.more-info img{
    width: 40px;
    height: 40px;
}

.project{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 1.6;
    position: relative;
    background-color: #171717;
    overflow-x: hidden;
}
.lines{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}
.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  
  .line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 20s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  
  .line:nth-child(1) {
    margin-left: -45%;
  }
  
  .line:nth-child(1)::after {
    animation-delay: 2s;
  }
  
  .line:nth-child(3) {
    margin-left: 45%;
  }
  
  .line:nth-child(3)::after {
    animation-delay: 4s;
  }
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 100%;
    }
  }

.project-content1{
        width: 100%;
        min-height: 100%;
        margin-top: 40px;
}
.project-header{
    width: 100%;
    height: auto;
}
@keyframes move-right {
    from {
        scale:0%;
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        scale: 100%;
        opacity: 1;
    }
}
.project-title{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    width: 100%;
    height: auto;
    padding: 0px 40px;
    font-family: 'Roboto Condensed';
}
.project-category-group{
    display: flex;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    margin: 10px 0px 0px 20px;
}
.project-category{
    margin: 5px;
    max-width: 100%;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 0.8rem;
}

.project-content{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 40px;
    
}
.project-description{
    width: 50%;
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.project-description p {
    width: 100%;
    text-align: justify;
    font-weight: 200;
    margin: 0;
}

.project-description p span{
    font-weight: 500;
}
.project-description img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.projects-arrow-back {
    position: absolute;
    top: 190px;
    left: 0;
    width: auto;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    transition: all 0.3s ease;
    fill: white;
    fill-opacity: 0.5;
    opacity: 0.5;
    padding-left: 8%;
    z-index: 99;
}
.projects-arrow-back:hover {
    transform: translateX(22%) scale(1.5);
    fill-opacity: 1;
    opacity: 1;
    cursor: url('../images/cursor-big.svg'), auto;
}

@media screen and (max-width: 1230px){
    .project-content{
        margin-top: 80px;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    .project-description{
        width: 70%;
    }
}

.game-mode-icon{
    fill: white;
    position: absolute;
    bottom: 0;
    left:0;
    margin:40px 60px;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    width: 24px;
    cursor: url('../images/cursor-big.svg'), auto !important;
    text-decoration: none;
}
.game-mode-icon svg{
    width: 35px;
    height: 35px;
    fill: white;
    transition: all 0.3s ease;
}

.game-mode-icon p{
    color:white;
    text-wrap: wrap;
    line-height: 1;
}
.game-body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    text-align: center;
    cursor: none;
}
.game-body p{
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    z-index: 9999999;
    display: none;
}
#progressContainer{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#progressContainer h1{
    color: #4e4e4e;
    font-family: 'Roboto Condensed';
    font-size: 8rem;
    font-weight: 500;
    margin-left: 20px;
    width: 100%;
    text-align: left;
}
#progressBar{
    width: 0%;
    height: 30%;
    background-color: #4e4e4e;
}
#move_tips{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 150px;
    height: auto;
    display: none;
}
@media screen and (max-width: 830px){
    .project-content{
        margin-top: 40px;
    }
}
@media screen and (max-width: 640px){
    
    .project-description{
        width: 100%;
    }
}
@media screen and (max-width: 536px){
    .project-header{
        width: 100%;
        text-align: center;
    }
    .project-content1{
        display: block;
    }
    .project-content{
        margin-top: 20px;
    }
}
@media screen and (max-width: 434px){
    .projects-arrow-back{
        top: 230px;
    }
}

.projects-animation{
    view-timeline-name: --projects;
    view-timeline-axis: block;
    animation-timeline: --projects;
    animation-name: show;
    animation-range: entry 0% cover 30%;
    animation-fill-mode: both;
}


.github-link {
    position: relative;
    color: rgb(151, 150, 150);
    text-decoration: none;
    transition: all 0.8s ease-in-out;
}
.github-link:hover {
    color: white;
}
.github-link:hover svg{
    scale: 150%;
    fill: white;
    transform: translateX(20%) translateY(-20%);
}

.github-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(151, 150, 150);
    transition: width .8s;
}

.github-link:hover::after {
    width: 100%;
    background-color: white;
}
.link-icon{
    fill: white;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.slider-images{
    display: flex;
    align-items: center;
    max-width: 90vw;
    gap: 20px;
    overflow-x: scroll;
}
.slider-images::-webkit-scrollbar {
    height: 10px; 
}

.slider-images::-webkit-scrollbar-track {
    background: #b5b5b51b; 
}

.slider-images::-webkit-scrollbar-thumb {
    background: #8888884b; 
}

.slider-images::-webkit-scrollbar-thumb:hover {
    background: white; 
}
.slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.slider-img{
    width: 110px;
    border-radius: 5px;
    position: relative;
    transition: 0.7s ease-in-out;
    display: flex;
    cursor: url('../images/cursor-big.svg'), auto !important;
    overflow: hidden;
    height: 400px;
}
.slider-img h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
    text-wrap: nowrap;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    z-index: 99;
    transition: 1s ease-in-out;
}
.details{
    z-index: 99;
    position: absolute;
    bottom: 43px;
    left: 43px;
}
.details h2{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    text-wrap: nowrap;
    line-height: 44px;
    margin: 0;
    text-transform: uppercase;
    transition: 1s ease-in-out;
    display: none;
}
.details p{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    line-height: 33px;
    margin: 0;
    text-transform: uppercase;
    transition: 1s ease-in-out;
    display: none;
}
.slider-img:hover, .unico{
    width: 666.66px !important;
}
.slider-img:hover h1, .unico h1{
    display: none;
}
.slider-img:hover .details p, .slider-img:hover .details h2, .unico .details p, .unico .details h2{ 
    display: block;
}
.darker{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left:0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1300px){
    .slider-images{
        gap: 10px;
    }
    .slider-img{
        width: 80px;
        height: 300px;
    }
    .slider-img h1{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1000px){
    .slider-images{
        gap: 5px;
    }
    .slider-img{
        width: 100px;
        height: 300px;
    }
    .slider-img h1{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1000px){
    .slider-img:hover, .unico{
        width: 400px !important;
        height: 300px !important;
    }
}
